#left{ /*Левая часть сайта, где находится меню*/
  z-index: 1;
  background-color: #111;
	border-right:2px groove white;
}
#main{
	background-size: 100%;
	background-repeat: no-repeat;
	background-image: url(/home/hecker/Desktop/NewSite/media/pop-punk.jpg);
}

#trek{
	text-align: center;
}
#inside{
	min-height: 99vh;
	margin-left:15px;
	margin-top:10px;
	border-radius: 5px;
	margin-bottom:10px;
	border:2px groove white;
	padding: 0px 0px 0px 0px;
}
#text{
	opacity: 0.6;
	border-radius: 5px;
	min-height: 100vh;
	background-color: #111111;
}
*{
  color:white;
  font-family: Gotham Pro;
  font-weight: bold;
}
.sidenav h1{
  margin-top:10px;
  font-size:25px;
}
.Kategor h2{
  margin-top:10px;
  font-size:20px;
}
.sidenav .form-control { /*Поиск сайта*/
  padding: 1px;
  font-size: 17px;
	color:black;
  width:195px;
}
.Kategor a{
  text-decoration: none;
  color:grey;
  display: block;
  font-size: 15px;
  font-weight: normal;
}
.Kategor a:hover{
  color: white;
}
#main h2{
  margin-top:15px;
  font-size:20px;
  font-weight: bold;
}
