#left {
  /*Левая часть сайта, где находится меню*/
  z-index: 1;
  background-color: #111;
  border-right: 2px groove white;
}

#main {
  background-size: 100%;
  background-repeat: no-repeat;
  background-image: url("../media/pop-punk.jpg");
}

#trek {
  text-align: center;
}

#inside {
  margin-left: 15px;
  margin-top: 10px;
  border-radius: 5px;
  margin-bottom: 10px;
  border: 2px groove white;
  padding: 0px 0px 0px 0px;
}

#text {
  opacity: 0.6;
  border-radius: 5px;
  min-height: 100vh;
  background-color: #111111;
}

* {
  color: white;
  font-family: Gotham Pro;
  font-weight: bold;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.sidenav h1 {
  margin-top: 10px;
  font-size: 1.9vw;
}

.Kategor h2 {
  margin-top: 10px;
  font-size: 1.93vw;
}

#usr {
  /*Поиск сайта*/
  padding: 0.1vh;
  font-size: 1.4vw;
  color: black;
  width: 14.7vw;
}

#inputing {
  width: 30vw;
  height: 4vh;
}

.Kategor a {
  text-decoration: none;
  color: grey;
  display: block;
  font-size: 1.2vw;
  font-weight: normal;
}

.Kategor a:hover {
  color: white;
}

#main h2 {
  margin-top: 15px;
  font-size: 1.93vw;
  font-weight: bold;
}

.navbar-xs {
  background-color: #111;
  border-bottom: 2px groove white;
  padding-top: 2px;
}

#inputing {
  font-weight: normal;
  border-radius: 5px;
  padding-left: 5px;
  padding-top:3px;
  color: black;
  font-size: 4vw;
  margin: 0px 15px 0px 15px;
}

.navbar-xs a {
  color: white;
  text-decoration: none;
  font-size: 3.6vw;
}


.navbar-xs a:hover {
  color: grey;
}

#top {
  padding: 0px 8px 0px 8px;
}
